body {
  font-family: sans-serif;
  font-size: clamp(14px, 1.2vw, 18px);
  background-color: #F5F5F5;
  overflow-x: hidden;
}

p {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

i {
  color: red;
}

.container {
  max-width: 95%;
  padding: 0rem;
  margin: 0 auto;

}


h2 {
  margin-top: 10%;
  text-align: center;
}

.btnAddAccount,
.btnEditAccount {
  background-color: rgba(98, 160, 234, 0.5);
  border-radius: 3px;
  border-color: #ffffff;
  color: black;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
}

input {
  border-radius: 10px;

}

.divCanvas {

  display: flex;
  width: 45%;
}

@media (max-width: 769px) {
  input {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px;
  }

  .divCanvas {
    display: block;
    width: 100%;
  }

}
